<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests" thread-count="2">
    <test name="Test Basics 1">

        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="org.example.LoginTest"/>
        </classes>
    </test>

    <test name="Test Basics 2">

        <parameter name="browser" value="Firefox"></parameter>
        <classes>
            <class name="org.example.LoginTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->